:root {
    --text: 20px;

    --padding: 15px;

    --border-radius: 5px;

    --gutter: 20px;

    --color-bg-component: #ececec;

    --color-red: #721817;
    --color-blue: #2B4162;
    --color-green: #0B6E4F;
    --color-yellow: #F18F01;
    --color-orange: #F26419;
    --color-gray: #555555;
}

@media screen and (max-width: 768px) {
    :root {
        --text: 16px;
        --padding: 10px;
        --gutter: 15px;
    }
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}

.hourly-list {
    grid-area: list;
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
}

.color_green { background-color: var(--color-green) !important; }

.color_red { background-color: var(--color-red) !important; }

.color_blue { background-color: var(--color-blue) !important; }

.color_yellow { background-color: var(--color-yellow) !important; }

.color_orange { background-color: var(--color-orange) !important; }

.color_gray { background-color: var(--color-gray) !important; }

.tag-item_add {
    background-color: var(--color-gray);
}

.hourly-item_green:hover {
    background-color: var(--color-green);
}

.hourly-item_green .hourly-item__hour {
    background-color: var(--color-green);
}

.hourly-item_red:hover {
    background-color: var(--color-red);
}

.hourly-item_red .hourly-item__hour {
    background-color: var(--color-red);
}

.hourly-item_blue:hover {
    background-color: var(--color-blue);
}

.hourly-item_blue .hourly-item__hour {
    background-color: var(--color-blue);
}

.hourly-item_yellow:hover {
    background-color: var(--color-yellow);
}

.hourly-item_yellow .hourly-item__hour {
    background-color: var(--color-yellow);
}

.hourly-item_orange:hover {
    background-color: var(--color-orange);
}

.hourly-item_orange .hourly-item__hour {
    background-color: var(--color-orange);
}

.hourly-item_add:hover {
    color: black !important;
}

.hourly-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding);
    border-radius: var(--border-radius);
    transition: all .1s ease;
}

.hourly-item:hover {
    color: white;
}

.hourly-item__hour {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    color: white;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hourly-item__task {
    font-size: var(--text);
    cursor: pointer;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.hourly-item__content {
    display: flex;
    gap: var(--gutter);
    align-items: center;
}

.hourly-item__content_buttons {
    padding: var(--padding);
    background-color: white;
    border-radius: var(--border-radius);
}

.edit-block {
    display: flex;
    gap: var(--gutter);
    align-items: center;
    padding: var(--padding);
    background-color: white;
    border-radius: var(--border-radius);
}

.edit-block__icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    fill: #F6F6F6;
}

.hourly-item__icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    fill: #F6F6F6;
}

.list .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "list total";
    gap: var(--gutter);
}

.total {
    grid-area: total;
}

.total .wrapper {
    background-color: var(--color-bg-component);
    border-radius: var(--border-radius);
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
}

.total-hours {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.total-hours p {
    font-size: var(--text);
}

.total-hours__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag-item {
    padding: calc(var(--padding) / 2) calc(var(--gutter) / 2);
    border-radius: var(--border-radius);
    color: white;
}

.total-hours__times {
    font-size: var(--text);
}

.date-line {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.date-line::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--color-gray);
    z-index: -1;
}

.date-line__block {
    font-size: 12px;
    padding: 5px 10px;
    border-radius: var(--border-radius);
    color: white;
    background-color: var(--color-gray);
    /*transform: translateY(-50%);*/
}

.hourly-item_add {
    background-color: var(--color-bg-component);
}

.hourly-item_add form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
}

.hourly-item_add .hourly-item__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.hourly-item__content {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: space-between;
}

.hourly-counter input {
    border: none;
    background-color: inherit;
    outline: none;
    font-size: var(--text);
}

.date-choose .date-choose__button {
    padding: calc(var(--padding) / 2) calc(var(--gutter) / 2);
    background-color: var(--color-gray);
    color: white;
    font-size: var(--text);
    border-radius: var(--border-radius);
    cursor: pointer;
}

.date-choose input {
    font-family: sans-serif;
}

.hourly-item_add form textarea {
    width: 100%;
    border: none;
    outline: none;
    font-size: var(--text);
    font-family: sans-serif;
    background-color: var(--color-bg-component);
    resize: vertical;
    min-height: 80px;
}

.hourly-item_add .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag-item {
    cursor: pointer;
}

.tag-item__container {
    position: relative;
}

.tag-item__dropdown {
    position: absolute;
    padding: var(--padding);
    background-color: var(--color-bg-component);
    border-radius: var(--border-radius);
    left: calc(var(--padding) * -1);

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hourly-counter {
    display: flex;
    gap: 10px;
}

.hourly-counter input {
    /*width: 120px;*/
    width: 33px;
    text-align: center;
}

.hourly-counter__button {
    font-size: calc(var(--text) - 4);
    color: white;
    background-color: var(--color-gray);

    padding: calc(var(--padding) / 2) calc(var(--gutter) / 2);
    border-radius: var(--border-radius);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.button-submit {
    border-radius: var(--border-radius);
    background-color: var(--color-gray);
    color: white;
    padding: 5px var(--padding);
    font-size: var(--text);
    cursor: pointer;
    border: none;
}

.modal {
    display: none;
}

.modal_active {
    display: block;
}

.modal__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 9;
}

.modal__content {
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: var(--border-radius);
    padding: var(--padding);

    font-size: var(--text);

    background-color: white;

    transform: translate(-50%, -50%);
    z-index: 10;

    display: flex;
    flex-direction: column;
    gap: var(--gutter);
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__content textarea {
    font-size: var(--text);
    width: 700px;
    min-height: 100px;
    max-height: 300px;
    font-family: sans-serif;
    border: none;
    outline: none;
    resize: vertical;
}

.modal .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.modal__container {
    display: flex;
    justify-content: space-between;
}

.date-choose input {
    display: none;
    font-size: var(--text);
    border: none;
    outline: none;
}

.date-choose_active .date-choose__button {
    display: none;
}

.date-choose_active input {
    display: block;
}

.modal .edit-block {
    padding: 0;
}

.modal .tag-item__dropdown {
    background-color: white;
}

.modal__close svg {
    width: 20px;
    height: 20px;
    cursor: pointer;
}


@media screen and (max-width: 900px) {
    .list .container {
        grid-template-columns: 1fr;
        grid-template-areas: "total" "list";
    }

    .modal__content {
        width: calc(100% - 10px);
    }

    .modal__content textarea {
        font-size: var(--text);
        width: 100%;
        height: 100px;
        font-family: sans-serif;
        border: none;
        outline: none;
        resize: vertical;
    }

}

@media screen and (max-width: 768px) {
    .hourly-item__hour {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }

    .edit-block__icon {
        width: 20px;
        height: 20px;
    }

    .modal__close svg {
        width: 14px;
        height: 14px;
    }
}