:root {
    --text: 20px;

    --padding: 15px;

    --border-radius: 5px;

    --gutter: 20px;

    --color-bg-component: #ececec;

    --color-red: #721817;
    --color-blue: #2B4162;
    --color-green: #0B6E4F;
    --color-yellow: #F18F01;
    --color-orange: #F26419;
    --color-gray: #555555;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}

.hourly-list {
    grid-area: list;
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
}

.tag-item_green {
    background-color: var(--color-green);
}

.tag-item_red {
    background-color: var(--color-red);
}

.tag-item_blue {
    background-color: var(--color-blue);
}

.tag-item_yellow {
    background-color: var(--color-yellow);
}

.tag-item_orange {
    background-color: var(--color-orange);
}

.tag-item_add {
    background-color: var(--color-gray);
}

.hourly-item_green:hover {
    background-color: var(--color-green);
}

.hourly-item_green .hourly-item__hour {
    background-color: var(--color-green);
}

.hourly-item_red:hover {
    background-color: var(--color-red);
}

.hourly-item_red .hourly-item__hour {
    background-color: var(--color-red);
}

.hourly-item_blue:hover {
    background-color: var(--color-blue);
}

.hourly-item_blue .hourly-item__hour {
    background-color: var(--color-blue);
}

.hourly-item_yellow:hover {
    background-color: var(--color-yellow);
}

.hourly-item_yellow .hourly-item__hour {
    background-color: var(--color-yellow);
}

.hourly-item_orange:hover {
    background-color: var(--color-orange);
}

.hourly-item_orange .hourly-item__hour {
    background-color: var(--color-orange);
}

.hourly-item_add:hover {
    color: black !important;
}

.hourly-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding);
    border-radius: var(--border-radius);
    transition: all .1s ease;
}

.hourly-item:hover {
    color: white;
}

.hourly-item__hour {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    color: white;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hourly-item__task {
    font-size: var(--text);
    cursor: pointer;
}

.hourly-item__content {
    display: flex;
    gap: var(--gutter);
    align-items: center;
}

.hourly-item__content_buttons {
    padding: var(--padding);
    background-color: white;
    border-radius: var(--border-radius);
}

.hourly-item__icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    fill: #F6F6F6;
}

.list .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "list total";
    gap: var(--gutter);
}

.total {
    grid-area: total;
}

.total .wrapper {
    background-color: var(--color-bg-component);
    border-radius: var(--border-radius);
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
}

.total-hours {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.total-hours p {
    font-size: var(--text);
}

.total-hours__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag-item {
    padding: 5px 10px;
    border-radius: var(--border-radius);
    color: white;
}

.total-hours__times {
    font-size: var(--text);
}

.date-line {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.date-line::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--color-gray);
    z-index: -1;
}

.date-line__block {
    font-size: 12px;
    padding: 5px 10px;
    border-radius: var(--border-radius);
    color: white;
    background-color: var(--color-gray);
    /*transform: translateY(-50%);*/
}

.hourly-item_add {
    background-color: var(--color-bg-component);
}

.hourly-item_add form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
}

.hourly-item_add .hourly-item__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.hourly-item__content {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: space-between;
}

.hourly-item__content input {
    border: none;
    background-color: var(--color-bg-component);
    outline: none;
    font-size: var(--text);
}

.date-choose .date-choose__button {
    padding: 5px 10px;
    background-color: var(--color-gray);
    color: white;
    font-size: var(--text);
    border-radius: var(--border-radius);
    cursor: pointer;
}

.date-choose input {
    font-family: sans-serif;
}

.hourly-item_add form textarea {
    width: 100%;
    border: none;
    outline: none;
    font-size: var(--text);
    font-family: sans-serif;
    background-color: var(--color-bg-component);
    resize: vertical;
    min-height: 80px;
}

.hourly-item_add .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.hourly-item_add .tags .tag-item {
    cursor: pointer;
}

.tag-item__container {
    position: relative;
}

.tag-item__dropdown {
    position: absolute;
    padding: var(--padding);
    background-color: var(--color-bg-component);
    border-radius: var(--border-radius);
    left: calc(var(--padding) * -1);

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hourly-item__submit {
    border-radius: var(--border-radius);
    background-color: var(--color-gray);
    color: white;
    padding: 5px var(--padding);
    font-size: var(--text);
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .list .container {
        grid-template-columns: 1fr;
        grid-template-areas: "total" "list";
    }

}